* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, sans-serif;
    color: #1d1d1f;
    background-color: #ffffff; /* Tout blanc pour l'instant */
    line-height: 1.6;
}